body {
  background-image: url(/images/swirl_pattern.png);
}

label {
  font-size: 1.2em !important;
}

h4 {
  font-family: 'Lobster Two', cursive;
  font-size: 3.2em !important;
}

/*footer {
  padding-bottom: 15px;
  margin: 0;
}

#footer-msg {
  font-family: 'Lobster Two', cursive;
}*/

.brand-logo {
  font-family: 'Lobster Two', cursive;
  font-size: 4.2em !important;
}

.collection {
  background-color: white;
  border-radius: 10px;
}

.beth-container {
  min-height: 100vh;
  padding-top: 30px;
}

/*.container {

}*/

#dash-title {
  padding-bottom: 30px;
}

#skill_title {
  font-size: 1.2em;
}

#textarea1 {
  font-size: 1.2em;
}

#new-skill-form, #email-skills-form {
  border-radius: 10px;
  padding: 10px;
  background-color: #00bcd4;
}

#edit-skill-form {
  border-radius: 10px;
  padding: 10px;
  background-color: #00bcd4 !important;
}

 .input-field label {
   color: white;
 }

 .input-field input[type=text]:focus + label {
   color: orange;
 }

textarea.materialize-textarea:focus:not([readonly]) + label {
   color: orange;
 }

 .input-field input[type=text]:focus {
   border-bottom: 1px solid orange;
   box-shadow: 0 1px 0 0 orange;
 }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid orange;
  box-shadow: 0 1px 0 0 orange;
}

.left-button {
  float: left;
}
.right-button {
  float: right;
}

#skill-list-box, #dashboard-box, #capybara-box {
  border-radius: 10px;
  padding : 10px;
  background-color: #00bcd4;
}

#capybara {
  /*height: 500px;*/
  margin: auto;
  width: 95%;
}

#capybara-box {
  text-align: center;
}

#dashboard-box {
  padding-bottom: 30px;
}
