<h4 id="dash-title" class="center-align orange-text">Welcome to your skill inventory!</h4>

<div class="center-align">
  <a href="/skills" class="waves-effect waves-light btn purple">Skills List</a>
  <a href="/skills/new" class="waves-effect waves-light btn purple">Add a Skill</a>
</div>
