<div class="row">
  <div class="col s3"><p></p></div>
    <form action="/skills/email" method="post" class="col s6" id="email-skills-form">
      <h4 class="center-align amber-text">Enter your info:</h4><br/>
      <div class="input-field">
        <input type='text' name='name' id="contact_name"/>
        <label for="contact_name">Name:</label>
      </div>
      <div class="input-field">
        <input type='text' name='email' id="contact_email"/>
        <label for="contact_email">Email:</label>
      </div>
      <input type='submit' value="Submit" class="waves-effect waves-light btn amber purple-text"/>
      <p></p>
    </form>
  </div>
