<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/application.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Skill Inventory</title>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <%= erb :navbar %>
    <div class="beth-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <!-- <footer class="page-footer purple">
      <div class="container">
        <div id="footer-msg">
        Capybaras are cute!
        </div>
        <a class="grey-text text-lighten-4 right" href="/">Dashboard</a>
      </div>
    </footer> -->
  </body>
</html>
