<nav>
  <div class="nav-wrapper purple">
    <a href="/" class="brand-logo right">Skillz</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
     <li><a href="/skills"><i class="material-icons">view_list</i></a></li>
     <li><a href="/skills/new"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</nav>
